body{
margin: 0;
padding: 0;
width: 100%;
margin-bottom: -300px; 
}

header ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

    float:right;
    padding: 0;
    margin: 0;
}

header li {
    float: left;
}

header li a {
    display: block;
    color: #111;
    text-align: center;
    padding: 9px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
header li a:hover {
    background-color: #111;
}

.center { margin: 0 auto; }
.content{ margin: 0 auto; width: 960px; }
.clear { clear: both; }

#header {
  width: 100%;
  padding:10px;
  height: 80px;
  position: fixed;
  margin-top: 30px;
}

#nav { 
  width: 600px; 
  margin-top: 20px; 
  background-color: grey;
}

#nav ul{
  list-style: none;
  display: block;
  margin: 0 auto;
  list-style: none;
}

#nav li {
  margin-top: 9px;
  float: left;
  padding-left: 30px;
  padding-right: 30px;
}
#nav li a { 
  color: #fff; 
  font-size: 22px; 
  text-decoration: none; 
  font-family: 'Wellfleet'; 
}

#nav li a.active { 
  color: #fff; 
  opacity:1; 
  border-bottom: 2px solid #fff; 
}

#nav li a:hover { 
  color: #fff; 
  opacity:1; 
}


body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}

h1 {
  font-size: 48pt;
  font-family: 'Noticia Text', serif;
  padding-bottom: 25px;
}

h2 {
  font-size: 36pt;
  font-family: 'Noticia Text', serif;
  padding-bottom: 22px;
}

h3 {
  font-size: 39pt;
  font-family: 'Noticia Text', serif;
  padding-bottom: 2px;
}

h4 {
  font-size: 28pt;
  font-family: 'Noticia Text', serif;
  padding-bottom: 2px;
}

#slide1, #slide2{ width: 100%; }

#slide1{
  color: #red;
  height: 600px;
  margin: 0;
  padding: 200px 0 200px 0;
  background-size: cover;
  padding-bottom: 50px;
  font-size: 20pt;
}


#slide2{
  color: #333333;
  height: 600px;
  margin: 0 auto;
  overflow: hidden;
  padding: 200px 0 200px 0;
  padding-bottom: 50px;
  font-size: 20pt;

}

#slide3{
  height: 1200px;
  padding: 200px 0 200px 0;
  background-size: cover;
  padding-bottom: 50px;
}

.container{
  max-width: 600px;
  margin: auto;

}

.faq-container{
  max-width: 1200px;
  margin: auto;
  padding-bottom: 20px;
}

.info {
  line-height: 1.7em;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.about{
  line-height: 1.7em;
  padding-top: 50px;
  padding-bottom: 50px;
}

.column{
    float: left;
    font-size: 20pt; 
    width: 50%;
    padding: 10px;
}

.column:after {
    content: "";
    display: table;
    clear: both;
}

footer {
   bottom:0;
   height: 300px;
   background: lightgrey;
   position: relative; 
}